services:
  app:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pki-totp-container
    ports:
      - "8080:8080"
    environment:
      - TZ=UTC
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
      - seed-data:/data
      - cron-output:/cron
      - ./keys/student_private.pem:/app/keys/student_private.pem:ro
      - ./keys/student_public.pem:/app/keys/student_public.pem:ro
      - ./keys/instructor_public.pem:/app/keys/instructor_public.pem:ro
      - ./scripts:/app/scripts:ro

volumes:
  seed-data:
  cron-output:

